:root {
    --bg01: #181A1d;
    --bg02: #2C3136;
    --bg03: linear-gradient(135deg, #2C3136, #1D2023);
    --bg04: #040404;
    --border01: #22262A;
    --border02: #1A1D21;
    --box-shadow01: inset 6px 6px 10px #151618, inset -6px -6px 10px #2c312c, inset 2px 2px 6px #33353b inset -3px -3px 6px #151618;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--bg01);
}

.wrapper {
    height: 100vh;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

header,
.controls,
.song-timer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hd-btn {
    background: var(--bg02);
    border-radius: 100%;
    width: 52px;
    height: 52px;
    box-shadow: var(--box-shadow01);
    transition: all 0.3s ease;
}

.hd-btn:active {
    box-shadow: -9px 10px 14px 0px rgba(0, 0, 0, 0.5);
}

header i {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(139, 136, 136);
}

header h3 {
    text-transform: uppercase;
    color: rgb(139, 136, 136);
    font-size: 14px;
}

.player {
    margin-top: 2rem;
}

#Cover {
    height: 200px;
    border-radius: 100px;
    margin-bottom: 2rem;
    object-fit: Cover;
    border: 10px solid #1e2125;
    box-shadow: -9px 10px 14px 0px rgba(0, 0, 0, 0.5);
    animation: rotation 8s infinite linear;
    transform-origin: center;
}

.name {
    color: rgb(211, 207, 207);
    font-size: 1.4rem;
    text-transform: capitalize;
}

.artist {
    color: rgb(139, 136, 136);
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 0 20px 0;
}

.controls {
    margin: 55px 8px 5px 8px;
}

.previous-music,
.next-music,
.play-pause {
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.previous-music,
.next-music {
    background-color: var(--bg02);
    color: white;
    width: 52px;
    height: 52px;
    box-shadow: var(--box-shadow01);
    border: 3px solid var(--bg02);
}

.play-pause {
    background-color: orange;
    color: white;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
    border-bottom: orange;
    outline: none;
}

.audioC {
    margin: 30px 0px 30px 0px;
}

.song-timer {
    margin-bottom: 20px;
}

.song-timer span {
    font-size: 10px;
    font-weight: 800;
    color: #7c7d80;
}

.progress-area {
    height: 7px;
    width: 100%;
    margin-top: 15px;
    border-radius: 50px;
    background: #040404;
    box-shadow: inset 9.91px 9.91px 15px #7c7d80, inset -9.91px -9.91px 15px #040404;
    cursor: pointer;
}

.progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #bf2311 0%, #e1530a 80%);
    box-shadow: inset 9.91px 9.91px 15px #7c7d80, inset -9.91px -9.91px 15px #040404;
}

.progress-bar::before {
    content: " ";
    position: absolute;
    background: var(--bg02);
    box-shadow: inset 9.91px 9.91px 15px #1F2326, inset -9.91px -9.91px 15px #25292E;
    border-radius: 50%;
    top: 50%;
    right: -14px;
    z-index: 2;
    height: 28px;
    width: 28px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.progress-bar::after {
    content: " ";
    position: absolute;
    background: #e1530a;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    height: 10px;
    width: 10px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
